# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env
.venv
pip-log.txt
pip-delete-this-directory.txt

# Jupyter Notebook
.ipynb_checkpoints
*/.ipynb_checkpoints/*
profile_default/
ipython_config.py

# VS Code
.vscode/

# PyCharm
.idea/

# Large files (Github limit is 100MB, warn at 50MB. Model is ~88MB)
# Uncomment the next line if you want to exclude the model
mask_detection_model.keras
